#item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: inherit;
  margin: 0 20px;
  padding: 15px 0px;
  max-height: 100vh;
  height: 80%;
  border: 2px solid rgb(37 49 63);
  border-radius: 10px;
  overflow: scroll;
}

.add-btn {
  position: absolute;
  bottom: 80px;
  right: 80px;
}
